In [1]:
# TensorFlow
import tensorflow as tf

# TensorFlow Datsets
import tensorflow_datasets as tfds

# Helper Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [3]:
%cd /content/drive/My Drive/

/content/drive/My Drive

In [4]:
fraud_df = pd.read_csv("fraud_detection_for_bangkit_final.csv")

In [5]:
fraud_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398332 entries, 0 to 398331
Data columns (total 45 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   uid                              398332 non-null  object
 1   is_scammer                       398332 non-null  int64
 2   source                           176569 non-null  object
 3   trx_date                         398332 non-null  object
 4   report_date                      43041 non-null   object
 5   registereddate                   397327 non-null  object
 6   birthday                         354055 non-null  object
 7   gender                           355067 non-null  object
 8   job_position                     354055 non-null  object
 9   is_verified                      398332 non-null  int64
 10  aqc_freq_prepaid_mobile          398332 non-null  int64
 11  aqc_mean_prepaid_mobile_amount   398332 non-null  float64
 12  aqc_freq_topup                   398332 non-null  int64
 13  aqc_freq_topup_within_7d         398332 non-null  int64
 14  aqc_mean_topup_amount            398332 non-null  float64
 15  aqc_mean_topup_amount_7d         398332 non-null  float64
 16  aqc_mean_topup_amount_30d        398332 non-null  float64
 17  aqc_mean_topup_amount_90d        398332 non-null  float64
 18  aqc_total_topup_amount_7d        398332 non-null  int64
 19  aqc_total_topup_amount_90d       398332 non-null  int64
 20  aqc_freq_x2x                     398332 non-null  int64
 21  aqc_freq_x2x_within_60d          398332 non-null  int64
 22  aqc_freq_x2x_within_90d          398332 non-null  int64
 23  aqc_mean_x2x_amount              398332 non-null  float64
 24  aqc_mean_x2x_amount_7d           398332 non-null  float64
 25  aqc_mean_x2x_amount_30d          398332 non-null  float64
 26  aqc_mean_x2x_amount_60d          398332 non-null  float64
 27  aqc_mean_x2x_amount_90d          398332 non-null  float64
 28  aqc_total_x2x_amount             398332 non-null  int64
 29  aqc_total_x2x_amount_7d          398332 non-null  int64
 30  aqc_total_x2x_amount_30d         398332 non-null  int64
 31  aqc_total_x2x_amount_60d         398332 non-null  int64
 32  aqc_total_x2x_amount_90d         398332 non-null  int64
 33  dormancy_max_gmt_pay_diff_days   397514 non-null  float64
 34  dormancy_mean_gmt_pay_diff_days  397514 non-null  float64
 35  dormancy_count_trx               398332 non-null  int64
 36  kyc_total_failed                 378272 non-null  float64
 37  kyc_total_revoked                378272 non-null  float64
 38  avg_topup_weight_1               398332 non-null  float64
 39  avg_x2x_weight_1                 398332 non-null  float64
 40  avg_other_weight_1               398332 non-null  float64
 41  centrality_outdegree_p2p         398332 non-null  float64
 42  centrality_indegree_p2p          398332 non-null  float64
 43  centrality_undirected_p2p        398332 non-null  float64
 44  centrality_outdegree_sendmoney   398332 non-null  float64
dtypes: float64(21), int64(16), object(8)
memory usage: 136.8+ MB

In [6]:
fraud_df.head()

,uid,is_scammer,source,trx_date,report_date,registereddate,birthday,gender,job_position,is_verified,...,dormancy_count_trx,kyc_total_failed,kyc_total_revoked,avg_topup_weight_1,avg_x2x_weight_1,avg_other_weight_1,centrality_outdegree_p2p,centrality_indegree_p2p,centrality_undirected_p2p,centrality_outdegree_sendmoney
0,da41ba31-1fb7-4123-b4f5-49d3c93c407d,1,INCOMPLETE_CS_REPORT_SCAMMER,2023-02-10,2023-02-10,2022-10,01-1994,Female,MENGURUS RUMAH TANGGA,1,...,685,1.0,0.0,1.125000,50.500000,0.166667,0.000014,7.343068e-05,8.078081e-05,6.530402e-08
1,39063101-67dc-4a30-8d3a-d16a388f5dbd,1,INCOMPLETE_CS_REPORT_SCAMMER,2023-02-07,2023-02-07,2023-01,04-2002,Male,PELAJAR / MAHASISWA,1,...,70,0.0,0.0,2.208333,3.041667,1.416667,0.000000,7.067437e-08,7.067437e-08,1.306080e-07
2,74196a84-6b98-475a-b01d-a4eb22c4c015,1,INCOMPLETE_CS_REPORT_SCAMMER,2023-01-16,2023-01-16,2022-12,04-1991,Male,BELUM / TIDAK BEKERJA,1,...,18,0.0,0.0,0.375000,3.583333,2.333333,0.000000,5.300578e-05,5.300578e-05,6.530402e-08
3,640d7332-34f5-45bd-8404-65f72417fadc,1,CS_REPORT_SCAMMER,2022-04-19,2022-04-21,2022-04,NaN,NaN,NaN,0,...,7,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00
4,640d7332-34f5-45bd-8404-65f72417fadc,1,CS_REPORT_SCAMMER,2022-04-19,2022-04-21,2022-04,NaN,NaN,NaN,0,...,7,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00